/*will need a monospace format font.*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqUo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{
  font-size: 16px;
  height: 100%
  color: #000;
}

body {
  font-family: 'Source Code Pro', monospace;
}

.calculator {
  width: 100%;
  background-color: #D3DBDF;
  color: #BFCFD4;
}

/*display styles*/
.all-displays {
  height: 14rem;
  font-size: 6rem;
  margin: .5rem 0 1rem 0;
  background-color: #577B79;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.breadcrumb-display {
  height: 3rem;
  font-size: 2.5rem;
  margin: 1rem 0 .5rem 0;
  /*padding: .5rem 0;*/
}

.display {
  margin: 1rem 0;
  height: 8rem;
}

/*button styles*/
.all-buttons {
  display: flex;
  width: 100%;
  /*height: 70rem;*/
  display: inline-block;
}

.row {
  display: flex;
  min-height: 11rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  background-color: #191A1D;
  color: #BFCFD4;
  margin: 1rem;
}

.clear {
  background-color: #591A2B;
}

.button:hover{

}
.clear.button:hover{

}

.button:active{
  background-color: #1A5948;

}


.button:active{
}

.button span {

}

/*Desktop version*/
@media only screen and (min-width: 768px) {}
